*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER MAIN FOOTER */
/* GENERAL RULES */

.header-top {
    background: linear-gradient(#F7C7D5, #ffffff);
    text-align: center;
}

.list-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    max-width: 70%;
    margin: auto;
}

.list-menu li {
}

.list-menu a {
    text-decoration: none;
    color: #855269;
}

main {
    margin-bottom: 55px;
}

footer {
    background-color: #BA8D9A;
    position: fixed;
    bottom: -45px;
    right: 0;
    left: 0;
    height: 100px;
}

footer div {
    display: flex;
}

footer p {
    padding: 3px;
    font-size: 1.5rem;
}

footer a {
    color: black;
}

.d-none {
    display: none;
}

.d-none-hamburger {
    display: none;
}



/* MAIN INDEX*/


.main-top {
    margin: 100px auto;
    text-align: center;
    max-width: 50%;
    font-weight: bold;
}

.quality, .why-we h1, .secretariat h1, .customers h1 {
    color: #BA8D9A;
    margin-bottom: 2rem;
}

.main-top p, .why-we p, .secretariat p, .customers p {
    font-size: 1.5rem;
    color: #BFAF8D;
}

.container-text {
    display: flex;
    background-color: #FCEFF3;
}

.container-text img {
    width: 300px;
    height: 400px;
    margin: 30px 200px;
}

.why-we, .secretariat, .customers {
    width: 20%;
    margin: 30px 90px;
}

.main-bottom button {
    margin-top: 2rem;
    border: 2px solid #855269;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #FCEFF3;
    cursor: pointer;
}

.container-secretariat {
    background-color: white;
}

.container-secretariat button {
    background-color: white;
}


/* MAIN TRATTAMENTI */

.list-tratt {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 2rem auto;
    font-size: 1.5rem;
    color: #BFAF8D;
    padding: 2rem;
}

#demo, #demo1 {
    line-height: 3rem;
}

.img- {
    height: 35px;
}


/* MAIN CONTATTI */

.container-contacts {
    margin-top: 50px;
}

.container-contacts h2, h3 {
    color: #855269;
}

.map {
    text-align: center;
}

.map iframe {
    margin: 2rem;
}

.contacts {
    text-align: center;
}

.office {
    padding-top: 2rem;
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.office {
    text-align: start;
    color: #8b8b8b;
}

.office h3, .office div{
    padding-bottom: .5rem;
}

.follow-icon {
    display: flex;
    color: #F7C7D5;
    justify-content: space-between;
    padding-top: 1rem;
    font-size: 30px;
}

.follow-icon a {
    color: #F7C7D5;
}















@media screen and (max-width: 320px)
{
    
}

@media screen and (min-width: 321px) and (max-width: 481px)
{
    .d-none {
        display: block;
        margin: auto;
        text-decoration: none;
        color: #855269;
    }
    .list-menu {
        display: none;
    }
}
@media screen and (min-width: 481px) and (max-width: 769px)
{
 /* GENERAL RULES */


 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-top {
    background: linear-gradient(#F7C7D5, #ffffff);
}

.list-menu {
    display: none;
}

.d-none {
    display: block;
    margin: auto;
    text-decoration: none;
    color: #855269;
}

.d-none i {
    font-size: 2rem;
}

.d-none-hamburger {
    display: none;
    margin: auto;
    text-decoration: none;
    color: #855269;
}

.d-none-hamburger li {
    list-style: none;
}

.d-none-hamburger a {
    text-decoration: none;
}

.main-top {
    margin: 100px auto;
    text-align: center;
    font-weight: bold;
}

.container-text img {
    max-width: 300px;
    max-height: 400px;
    margin: 0;
}

.container-text {
    display: block;
    text-align: center;
}

.container-secretariat {
    display: flex;
    flex-direction:column-reverse;
}

.container-text-img {
    padding-top: 30px;
}

.why-we, .secretariat, .customers {
    width: 50%;
    margin: auto;
    padding-bottom: 30px;
}
}

@media screen and (min-width: 769px) and (max-width: 1024px)
{
 /* GENERAL RULES */


    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .header-top {
        background: linear-gradient(#F7C7D5, #ffffff);
    }

    .list-menu {
        display: flex;
        justify-content: space-around;
        list-style: none;
        max-width: 70%;
        margin: auto;
    }

    .main-top {
        margin: 100px auto;
        text-align: center;
        font-weight: bold;
    }

    .container-text img {
        max-width: 300px;
        max-height: 400px;
        margin: 0;
    }

    .why-we, .secretariat, .customers {
        width: 20%;
        margin: 30px 100px;
    }
}

/* .d-none {
    display: block;
    margin: auto;
    text-decoration: none;
    color: #855269;
}
.list-menu {
    display: none;
}

.container-text img {
    max-width: 300px;
    max-height: 400px;
    margin: 0;
}

.why-we, .secretariat, .customers {
    width: 20%;
    margin: 30px 100px;
}
}
@media screen and (min-width: 481px) and (max-width: 769px)
{
.header-top {
    /* background: linear-gradient(#F7C7D5, #ffffff); */
    /* text-align: center;
}

.header-top img {
    max-width: 100%;
}

.list-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    max-width: 70%;
    margin: auto;
}

.container-text img {
    max-width: 300px;
    max-height: 400px;
    margin: 0;
}

.why-we, .secretariat, .customers {
    width: 20%;
    margin: 30px 100px;
}
}

@media screen and (min-width: 769px) and (max-width: 1024px)
{ */
/* GENERAL RULES */


/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-top {
    background: linear-gradient(#F7C7D5, #ffffff);
}

.list-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    max-width: 70%;
    margin: auto;
}

.main-top {
    margin: 100px auto;
    text-align: center;
    max-width: 100%;
    font-weight: bold;
}

.container-text img {
    max-width: 300px;
    max-height: 400px;
    margin: 0;
}

.why-we, .secretariat, .customers {
    width: 20%;
    margin: 30px 100px;
} */ 